In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('qwerttyyuiolkhgjkdspwiyrtepwaskdvkasdjksc'))
s

0     q
1     w
2     e
3     r
4     t
5     t
6     y
7     y
8     u
9     i
10    o
11    l
12    k
13    h
14    g
15    j
16    k
17    d
18    s
19    p
20    w
21    i
22    y
23    r
24    t
25    e
26    p
27    w
28    a
29    s
30    k
31    d
32    v
33    k
34    a
35    s
36    d
37    j
38    k
39    s
40    c
dtype: object

In [3]:
s.unique()

array(['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'l', 'k', 'h', 'g',
       'j', 'd', 's', 'p', 'a', 'v', 'c'], dtype=object)

In [4]:
s.value_counts()

k    5
s    4
t    3
y    3
d    3
w    3
e    2
a    2
i    2
r    2
p    2
j    2
h    1
c    1
l    1
q    1
g    1
o    1
u    1
v    1
dtype: int64

In [8]:
dados = pd.read_csv('dados/aluguel.csv',sep=';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0